<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fibo</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="flex-center">
      <div class="boxie">
        <div class="txt-center title">Calculate Fibonacci!</div>
        <div class="txt-center">
          <input id="indx_input" class="inpt" placeholder="Up to...">
          <span>
            <button id="btn_calc" class="btn">Go!</button>
          </span>
        </div>
        <div class="txt-center">
          <div class="subtitle">
            Result:
            <span id="fibo_rsp" class="result"></span>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="scripts/index.js"></script>
</html>
